

.grid-container {
    display: grid;
    grid-template-columns: 100px 300px 100px;
    grid-template-rows: auto;
    grid-template-areas: 
        'header header header'
        'main1 main main2'
        'footer footer footer';
    grid-gap: 10px;
    
}

.header {
    grid-area: header;
    color: brown;
    background-color: beige;

}
.main {
    grid-area : main;
    color: blue;
    background-color: aqua;
}


.main1 {
    grid-area: main1;
    background-color: blueviolet;
}

.main2 {
    grid-area: main2;
    background-color: aquamarine;
}

.footer {
    grid-area: footer;
    background-color: antiquewhite;  
}
